* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(8, 9, 29);
  color: white;
  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 20px;
}


form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type='text']{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}

form input[type='text']:focus {
  outline: none;
}


form li {
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1a1919;
  padding: 12px;
  border-radius: 12px;
}


form button {
  width: 320px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ffecf1;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

